

.highlight {
    background: url('./../../public/image/Vector 46.svg') no-repeat center;
    width: 65px;
    background-size: contain;
    font-family: 'Hynings', serif;
    font-size: 30px;
    line-height: 35.4px;
}